# Copie este arquivo para .env e preencha com suas chaves
# NUNCA suba o arquivo .env para o GitHub!

VT_API_KEY=sua_chave_virustotal_aqui
ABUSE_API_KEY=sua_chave_abuseipdb_aqui
URLSCAN_API_KEY=sua_chave_urlscan_aqui
